/* External Styling */

*{
 margin:0;
 padding:0;
}
body{	
 background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background.jpg);
 background-size:cover
}
#div1{
 margin-top:20%;
 margin-left:40%
}
#formbox{
 width: 400px;
 height: 500px;
 background-color:none;
 top:20px;
 bottom:50px;
 position: absolute;
 box-sizing: border-box;
 padding: 70px 30px;
}
